<html>
	<head>
		<title>iBeacon Localization tool</title>
		<script type="text/javascript" src='/static/ibeaconapp/ibeaconapp.js'></script>
		<script type="text/javascript" src='/static/ibeaconapp/jquery-1.11.1.min.js'></script>
		<script type="text/javascript">
		

			
			
		</script>
		
	</head>
	<body onload="init();">
	
	<div id='control_panel'>
		<select id="floorplan_sel" onchange="onFloorplanChange(this.selectedIndex);">
		</select>
		<select id="deployment_sel" onchange="onDeploymentChange(this.selectedIndex);">
		</select>
		<select id="dataset_sel" onchange="onDatasetChange(this.selectedIndex);">
		</select>
	
	</div>
	
	
	<script type="text/javascript">
	

	</script>
	
	
	</body>

</html>
