<html>
	<head>
		<title>iBeacon Localization tool</title>
		<script type="text/javascript" src='/static/ibeaconapp/ibeaconapp.js'></script>
		<script type="text/javascript" src='/static/ibeaconapp/jquery-1.11.1.min.js'></script>
		<script type="text/javascript">
		
		function init(){
			 var html = '';
			 for(var i=0; i<music_demo.length; i++){
				 html += '<option>';
				 html += music_demo[i].type;
				 html += '</option>';
			 }
			 
			 document.getElementById("floorplan_sel").innerHTML = html;
		}
		
		var rec;
		
		function onFloorplanChange(index){
			rec = index;
			 var html = '';
			 for(var i=0; i<music_demo[index].content.length; i++){
				 html += '<option>';
				 html += music_demo[index].content[i];
				 html += '</option>';
			 }
			 document.getElementById("deployment_sel").innerHTML = html;
		}
		
		function onDeploymentChange(index){
			
		}
		
		function onDatasetChange(index){
			
		}
			
			
		</script>
		
	</head>
	<body onload="init();">
	
	<div id='control_panel'>
		<select id="floorplan_sel" onchange="onFloorplanChange(this.selectedIndex);">
		</select>
		<select id="deployment_sel" onchange="onDeploymentChange(this.selectedIndex);">
		</select>
		<select id="dataset_sel" onchange="onDatasetChange(this.selectedIndex);">
		</select>
	
	</div>
	
	
	<script type="text/javascript">
	

	</script>
	
	
	</body>

</html>
